.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2em;
}
.card-container div {
  margin-right: 1em;
}

.card-container img {
  width: 12em;
  height: 15em;
}
h3 {
  font-size: 0.7em;
  position: relative;
  top: 3.5em;
  background-color: white;
  width: 6em;
  left: 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  font-weight: 300;
  text-align: center;
}
.online {
  width: 5em;
}
.card-container div:nth-child(3) {
  margin-left: 1.5em;
  position: relative;
  top: -2em;
}
p {
  opacity: 1;
}
