.cards div {
  margin-right: 1em;
}

.cards img {
  width: 12em;
  height: 15em;
  border-radius: 9px;
}
h3 {
  font-size: 0.7em;
  position: relative;
  top: 3.5em;
  background-color: white;
  width: 6em;
  left: 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  font-weight: 300;
  text-align: center;
}
.online {
  width: 5em;
}
p {
  opacity: 1;
}
.cards div div .star {
  width: 15px;
  height: 15px;
  margin-right: 0.5em;
}

@media (max-width: 425px) {
  .cards {
    flex-direction: column;
  }
}
