form fieldset {
    display: flex;
    margin: 0;
    border: none;
}

input[type=text] {
    color: rgba(13, 13, 13, 1);
    font-weight: 500;
    font-size: 0.8em;
    font-style: normal;
    letter-spacing: 0.5px;
    padding: 10px;
    outline: none;
    width: 25em;
    margin-right: 1em;
    border-radius: 5px;
    border: 1px solid rgba(213, 212, 216, 1);
    text-indent: 5px;
}

fieldset {
    margin: 0;
    padding: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    display: flex;
    justify-content: center;

}

.memeimg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meme-image {
    margin-top: 2em;
    max-width: 100%;
    width: 30em;
    height: 20em;
}

@media(max-width: 767px) {
    input[type=text] {
        width: 15em;
    }
}


@media(max-width: 576px) {
    form fieldset {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input[type=text] {
        width: auto;
        padding: 5px;
        margin-top: 1em;


    }
}